<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Photisc-TOP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/main_style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>
    </head>
    <body>
        <header class="site-header">
          <div class="hamburger-menu">
            <div class="drawers">
              <div class="drawer">
                <div class="navbar_toggle">
                  <span class="navbar_toggle_icon"></span>
                  <span class="navbar_toggle_icon"></span>
                  <span class="navbar_toggle_icon"></span>
                </div>
              </div>
              <div class="menu">
                <ul>
                  <a href="#"><li>CONCEPT</li></a>
                  <a href="#"><li>GRAND&PRICE</li></a>
                  <a href="#"><li>MENU</li></a>
                  <a href="#"><li>ACCESS</li></a>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <h1>Photiscへようこそ！</h1>
        <p>Photiscは登録不要なロゴやヘッダー画像の作成サイトです！！</p>
        <div class="to-template-button">
            <a href="{{ url_for('select_template') }}">テンプレートから作成する</a>
        </div>
    </body>
</html>
