<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Select-Template</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/main_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/select_template.css') }}">
    </head>
    <body>
        <h1>テンプレートから作成する</h1>
        <div class="template-container">
            {% for template_data in template_datas %}
            <div class="template-box">
                {% if template_data.link_num == 1 %}
                <a href="{{ url_for('temp1') }}">
                {% elif template_data.link_num == 2 %}
                <a href="{{ url_for('temp2') }}">
                {% else %}
                <a herf="{{ url_for('page404') }}">
                {% endif %}
                    <div class="template-img">
                        <img src="{{ url_for('static', filename=template_data.image) }}" width="100%">
                    </div>
                    
                    <div class="template-information">
                        <p>情報:{{ template_data.description }}</p>
                        <p>最終更新日:{{ template_data.last_updated }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
